<!DOCTYPE html>
<html>
  <head>
    <title>RailsCms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark-secondary light:bg-light-secondary">
  <% if notice %>
    <div class="alert alert-success absolute top-0 w-full h-12 text-dark-primary animate-pushNotification bg-dark-info">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
